# Token Bot Telegram dari @BotFather (Wajib)
BOT_TOKEN=1234567890:ABCdefGHIjklMNOpqrSTUvwxYZ

# ID Telegram Anda dari @userinfobot agar bot tidak bisa dipakai orang asing (Wajib)
ALLOWED_USER_IDS=123456789

# (Opsional) Hanya jika ingin menggunakan OAuth default
# MICROSOFT_CLIENT_ID=
# MICROSOFT_REFRESH_TOKEN=
